nav {
	overflow: hidden;
}
.navigation {
	display: block;
	list-style: none;
	margin: 10px;
	padding: 10px 0;
	overflow: hidden;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
.navigation li {
	float: left;
	margin: 0 5px 0 0;
}
.navigation-bottom {
	margin: 5px;
	padding: 5px 0;
}
.navigation-bottom li a {
	font-size: 12px;
}
