html,
body {
	margin: 0;
	padding: 0;
}

html {
	background: #eee;
}

body {
	background: #fff;
	width: 960px;
	margin: 0 auto;
}
header,
footer,
section {
	padding: 0 10px;
}
footer {
	padding: 10px;
}
#footer-wrap {
	margin: 10px 0 0;
	background: #F8FFE8;
}
