<fragment>
<nav>
	<ul class="navigation">
		<li>
			<a href="home.html">Home</a>
		</li>
		<li>
			<a href="about.html">About</a>
		</li>
		<li>
			<a href="#">Contacts</a>
		</li>
	</ul>
</nav>
</fragment>
